$primary: #7ebbfa;
$danger: #ee7573;
$success: #83c5be;
$secondary: #ffafcc;
$info: #f9f9f9;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "danger": $danger,
);
@import "~bootstrap/scss/bootstrap.scss";
// Put any other imports below so that CSS from your
// components takes precedence over default styles.

// body {
//   background-color: $primary;
// }

.center-chatbox-wrapper {
  height: 100vh;
  background-color: $primary;
  display: flex;
  align-items: center;
  justify-content: center;
}
h2 {
  font-weight: 600;
}

.chat-border-radius {
  border-radius: 10px;
}

.text-break-word {
  overflow: hidden; /* make sure it hides the content that overflows */
  white-space: nowrap; /* don't break the line */
  text-overflow: ellipsis; /* give the beautiful '...' effect */
}
.user-img {
  width: 100%;
  border-radius: 100%;
}
.form-select {
  color: white;
}
.deleted-card {
  border: 1px solid red;
}
.btn {
  color: white;
}
.quiz-container {
  width: 500px;
  border-radius: 4px;
  padding: 30px 60px;
  box-sizing: border-box;
  justify-content: center;
}
.active-question-no {
  font-size: 32px;
  font-weight: 500;
}
.total-question {
  font-size: 16px;
  font-weight: 500;
}
ul {
  margin-top: 20px;
  li {
    text-decoration: none;
    list-style: none;
    border: 1px solid;
    border-radius: 16px;
    padding: 11px;
    margin-top: 15px;
    cursor: pointer;
  }
  .selected-answer-true {
    border: 5px solid $success;
  }
  .selected-answer-false {
    border: 5px solid $danger;
  }
}
.user-photo {
  border-radius: 100%;
}
.user-photo-conversation {
  object-fit: cover;
  border-radius: 100%;
  width: 24px;
  height: 24px;
}
.send-button {
  position: absolute;
  right: 0%;
  top: 4%;
  font-size: 36px;
}

.justify-content-left {
  justify-content: left;
}

.h-fit-content {
  height: fit-content;
}

.h-60vh {
  height: 60vh;
}

p {
  margin-bottom: 0;
}

.overflow {
  //overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column-reverse;
  //justify-content: start;
}
.long-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.clickable {
  cursor: pointer;
}
.logged-in {
  color: green;
}
.overflow-conversations {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 400px;
}
.home-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
  justify-content: center;
}
.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.center-calculator-wrapper {
  height: 100vh;
  background-color: #3b4664;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #181f32;
  color: white;
  border-radius: 5px;
  padding: 5px;
  text-align: right;
  width: 500px;

  min-height: 80px;
}
.calculator-header .prev-output {
  font-size: 2.5rem;
}
// .calculator-header .curr-output {
//   font-size: 2.5rem;
// }
.calculator-body {
  align-items: center;
  justify-content: center;
  // display: grid;
  // grid-template-columns: repeat(4, 7rem);
  // grid-template-rows: repeat(5, 3rem);
  background-color: #252d44;
  color: wheat;
  border-radius: 5px;
  padding: 15px;
  width: 500px;
}
.calculator-body .btn {
  cursor: pointer;
  background-color: #eae3db;
  color: #464d60;
  font-size: 25px;
  font-weight: 900;
  width: 100vw;
  border: 0;
  margin: 5px;
}
.calculator-body .form-input {
  cursor: pointer;
  background-color: #eae3db;
  color: #464d60;
  font-size: 25px;
  font-weight: 900;
  width: 100vw;
  border: 0;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}
.form-input:hover {
  background-color: white;
}
.btn:hover {
  background-color: white;
}
.col-sm-3 {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.col-sm-6 {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.col-sm-6 .btn {
  width: 100vw;
}
