$primary: #7ebbfa;
$danger: #ee7573;
$success: #83c5be;
$secondary: #ffafcc;
$info: #f9f9f9;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "danger": $danger,
);
@import "~bootstrap/scss/bootstrap.scss";
// Put any other imports below so that CSS from your
// components takes precedence over default styles.

// body {
//   background-color: $primary;
// }

.center-chatbox-wrapper {
  height: 100vh;
  background-color: $primary;
  display: flex;
  align-items: center;
  justify-content: center;
}
h2 {
  font-weight: 600;
}

.chat-border-radius {
  border-radius: 10px;
}

.text-break-word {
  overflow: hidden; /* make sure it hides the content that overflows */
  white-space: nowrap; /* don't break the line */
  text-overflow: ellipsis; /* give the beautiful '...' effect */
}
.user-img {
  width: 100%;
  border-radius: 100%;
}
.form-select {
  color: white;
}
.deleted-card {
  border: 1px solid red;
}
.btn {
  color: white;
}
.quiz-container {
  width: 500px;
  border-radius: 4px;
  padding: 30px 60px;
  box-sizing: border-box;
  justify-content: center;
}
.active-question-no {
  font-size: 32px;
  font-weight: 500;
}
.total-question {
  font-size: 16px;
  font-weight: 500;
}
ul {
  margin-top: 20px;
  li {
    text-decoration: none;
    list-style: none;
    border: 1px solid;
    border-radius: 16px;
    padding: 11px;
    margin-top: 15px;
    cursor: pointer;
  }
  .selected-answer-true {
    border: 5px solid $success;
  }
  .selected-answer-false {
    border: 5px solid $danger;
  }
}
.user-photo {
  border-radius: 100%;
}
.user-photo-conversation {
  object-fit: cover;
  border-radius: 100%;
  width: 24px;
  height: 24px;
}
.send-button {
  position: absolute;
  right: 0%;
  top: 4%;
  font-size: 36px;
}

.justify-content-left {
  justify-content: left;
}

.h-fit-content {
  height: fit-content;
}

.h-60vh {
  height: 60vh;
}

p {
  margin-bottom: 0;
}

.overflow {
  //overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column-reverse;
  //justify-content: start;
}
.long-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.clickable {
  cursor: pointer;
}
.logged-in {
  color: green;
}
.overflow-conversations {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 400px;
}
.home-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
  justify-content: center;
}
.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.center-calculator-wrapper {
  height: 100vh;
  background-color: #3b4664;
  display: flex;
  align-items: baseline;
  padding-top: 15rem;
  justify-content: center;
}
.calculator-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #181f32;
  color: white;
  border-radius: 10px;
  padding: 10px;
  text-align: right;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 2.5rem;
  min-height: 80px;
}

.calculator-body {
  background-color: #252d44;
  color: wheat;
  border-radius: 10px;
  padding: 15px;
  width: fit-content;
  // height: calc(100% - 110px);
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 15px;
}
.calculator-body .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 20px 0 20px;
  background-color: #eae3db;
  color: #464d60;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 32px;
  // width: 100vw;
  // margin: 5px;
  border: none;
  border-radius: 10px;
  outline: none;
  box-shadow: 0px 3px #b6a49a;
}

.btn:hover {
  background-color: white;
}

.calculator-body .equals {
  background-color: #f96c5b;
  grid-area: 5 / 3 / 5 / 5;
  color: white;
  box-shadow: 0px 3px #96271c;
  font-size: 20px;
}
.calculator-body .reset {
  background-color: #a2b3e1;
  grid-area: 5 / 1 / 5 / 3;
  color: white;
  box-shadow: 0px 3px #414e71;
  font-size: 20px;
}
.calculator-body .del {
  background-color: #a2b2e3;
  color: white;
  box-shadow: 0px 3px #414e71;
  font-size: 20px;
}
